{% extends "layout.html" %}
{% block title %}
Overview
{% endblock title %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <!-- Left column for Input Form -->
        <div class="col-md-3">
            <div class="sticky-top-custom"> <!-- Make this container sticky -->
                <h2>Input Form</h2>
                <form method="POST">
                    {{ form.hidden_tag() }} <!-- Ensure CSRF token is included -->
                    <div class="d-grid gap-2 mb-3">
                        {{ form.submit(class="btn btn-primary btn-block") }}
                    </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Selection</th>
                        <th>Emotion</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in range(emotions|length) %}
                    <tr>
                        <td><img src="{{ url_for('static', filename='images/') }}{{ emotions[i]['emotion'] }}.jpg"
                                width="150" height="150"></td>
                        <td>{{ form.emotions[i] }}</td>
                        <td>{{ emotions[i]['emotion'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </form> <!-- Close the form tag properly -->
        </div>

        <!-- Right column for Output Form -->
        <div class="col-md-9">
            <div class="sticky-top-custom"> <!-- Make this container sticky -->
                <h2>Output Form</h2>
            </div>
            <div class="row">
                {% for emotion in emotions %}
                {% if emotion.selected %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">{{ emotion['emotion'] }}</p>
                        </div>
                        <img src="{{ url_for('static', filename='images/') }}{{ emotion['emotion'] }}.jpg"
                            class="card-img-bottom" width="450" height="450">
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}




<!doctype html>
<html lang="en">